html{
	font-size: 10px;
	scroll-behavior: smooth;
}
/*Mix*/
.page{
	width: 100%;
	height: 100%;
	background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
}
.page__line{
	width: 100%;
}
.left-right{
	display: flex;
	flex-wrap: wrap;
}
.half-block{
	width: 50%;
}
.text_white{
	color: #fff;
	font-size: 1.7rem;
}
.link{
	text-decoration: none;
	color: #726962;	
}
.logo{
	font-size: 2.5rem;
	font-weight: bold;
	color: #140600;
	text-decoration: none;
}
.text{
	font-size: 1.6rem;
	color: #888888;
}

.button, .button:focus, .button:active{
	outline: none;
}
.button{
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1.4rem 2.6rem;
	background-color: transparent;
	border: 3px solid #232B2B;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
.headline{
	font-size: 4rem;
	font-weight: 300;
}
.headline-3{
	font-size: 2.8rem;
	color: #fff;
	font-weight: 300;
}
.headline_white{
	font-size: 4rem;
	font-weight: 300;
	color: #fff;
}
.head{
	height: 100vh;
}
.head__left{
	height: 100%;
	background: url('../Images/home-img.jpg') 50% 50% no-repeat;
	background-size: cover;
}
.head__right{
	height: 100%;
	background-color: #f0e2d7;
}

.head__logo{
	display: inline-block;
	margin: 2.5rem 0 0 10%;
	text-shadow: 1px 1px 2px #fff;
}
.head__navig{
	margin: 3.5rem 0 0 8.5rem;
}
.navig__link{
	font-size: 1.4rem;
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.8s ease;
}

.navig__link:hover{
	color: #E5B66A;
	transition: all 0.3s ease;
}
.navig__link_active{
	color: #E5B66A;
}
.head__site-headline{
	margin: 0 2rem 0 4rem;
	position: absolute;
	top: 50%;
	transform: translate(0,-30%);
}
.site-headline__welcome{
	font-size: 1.2rem;
	letter-spacing: 0.12rem;
	font-weight: 700;
}
.site-headline__stimulus {
	font-weight: 400;
	color: #242C2C;
}
.site-headline__h1{
	color: #726962;
	font-weight: 300;
	font-size: 4.2rem;
	margin: 0;
	margin-top: 1rem;
}
.site-headline__button{
	margin-top: 4.5rem;
	transition: all 0.8s ease;
}

.site-headline__button:hover {
	background-color: #E5B66A;
	border: 3px solid #E5B66A;
	color: #fff;
	transition: all 0.4s ease;
}

.about-left{
	height: 100%;
	position: relative;
}
.about__text{
	margin: 3rem 3rem 3.5rem 2rem;
}
.about-text__headline{
	margin-bottom: 1.5rem;
}
.about-text__parag_gold{
	color: #E5B66A;
}
.about-right{
	height: 100%;
	position: relative;
}
.my-skills{
	height: 100%;
}
.my-skills__right-side{
	background-color: #E3AE57;
	height: 100%;
	color: #fff;

}
.my-skills__left-side{
	background: url('../Images/about-img.jpg') 50% 0 no-repeat;
	background-size: cover;
}
.my-skills__desc{
	padding: 1rem 2rem 1rem 3.5rem;
}
.my-skills__headline{
	color: #fff;
	margin: 0 0 2rem 0;
}
.my-skills__text{
	color: #fff;
}
.progress{
	width: 100%;
	height: 2px;
	margin: 1.5rem 0;
	background-color: #fff;
}
.progress__label{
	height: 100%;
	background-color: #562908;
	width: 50%;
	display: block;
}
.progress__label_90 {
	width: 90%;
}
.progress__label_70 {
	width: 70%;
}
.progress__label_80 {
	width: 80%;
}
.my-skills__progress-bar{
	margin-top: 3rem;
	font-weight: bold;
}
.progress-bar__span{
	color: #242C2B;
}
.progress-bar__text{
	display: flex;
	justify-content: space-between;
}
.head__burger{
	color: #fff;
	font-size: 2.5rem;
	position: absolute;
	right: 3rem;
	top: 3rem;
	display: none;
}
.my-tech-skills{
	display: flex;
	width: 100%;
}
.my-tech-skills__item{
	width: 25%;
	text-align: center;
}
.my-tech-skills__headline{
	font-size: 2.6rem;
	color: #fff;
}
.my-tech-skills__item_padding {
	padding: 5rem 3rem;
}
.my-tech-skills__icon{
	font-size: 3.1rem;
	color: #fff;
}
.my-tech-skills__item_red{
	background-color: #e9714c;
}
.my-tech-skills__item_yellow {
	background-color: #e4ae58;
}
.my-tech-skills__item_black {
	background-color: #161616;
}
.my-tech-skills__text{
	color: #fff;
}
.my-tech-skills__text_black {
	color: #222222;
}
.my-tech-skills__icon_black {
	color: #222222;
}
.my-tech-skills__headline_black {
	color: #222222;
}
#burger__checkbox{
	display: none;

}
.my-experiences__left-side{
	background: url('../Images/experience-img.jpg') 0 0 no-repeat;
	background-size: cover;
}
.my-experiences__right-side {
	background-color: #e9714c;
	
}
.my-experiences__right-side_padding{
	padding: 3rem 6rem;
}
.dates__interval{
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 1.9rem;
	margin-left: 0.5rem;
}
.dates__headline{
	display: inline-block;
	margin: 2rem 0;
}
.my-experiences__headline-2{
	margin: 0;
}
.dates__icon{
	font-size: 3.5rem;
	color: #fff;
	margin-right: 1rem;
	vertical-align: middle;
}
.dates__item{
	display: inline-block;
}
.dates_text{
	margin-top: 0;
	margin-left: 6rem;
}
.my-education__right-side{
	background: url('../Images/education-img.jpg') 0 0 no-repeat;
	background-size: cover;
}
.my-education__left-side {
	background-color: #e4ae58;
}
.my-education__right-side_padding {
	padding: 3rem 6rem;
}
.my-education__headline-2 {
	margin: 0;
}
.quotes{
	background: url('../Images/quotes-bg.jpg') 50% 50% no-repeat fixed;
	background-size: cover;
	text-align: center;
}
.quotes__wrapper{
	padding: 12.5rem 20rem;
	background-color: rgba(0, 0, 0, 0.5);
}
.quotes__text {
	color: #fff;

}
.quotes__headline{
	color: #fff;
}
.quotes__icon{
	color: #fff;
	font-size: 4rem;
}
.say-hello__headline{
	color: #fff;
	margin: 0;
}
.contacts__left-side{
	background-color: #e9714c;
}
.say-hello{
	padding: 3rem;
}
.contact-form{
	display: flex;
	flex-direction: column;
}
.form-style::-webkit-input-placeholder {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 300;
}

.form-style::-moz-placeholder {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 300;
}

.form-style:-ms-input-placeholder {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 300;
}

.form-style:-o-input-placeholder {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 300;
}
.form-style:active,.form-style{
	outline: none;
}
.form-style{
	border: 0px solid #fff;
	font-size: 1.8rem;
	color: #fff;
	background-color: transparent;
	border-bottom: 1px solid #e4ae58;
	padding: 1rem;
	font-weight: 3006
}
.contact-form__name{
	margin-bottom: 2rem; 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
}
.contact-form__email {
	margin-bottom: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
}
.contact-form__message{
	margin-bottom: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
}
.contact-form__submit{
	max-width: 40%;
	color: #fff;
	background-color: #fff;
	transition: 0.3s all ease;
	font-weight: lighter;
	color: #161616;
	border: 3px solid #fff;
	text-transform: capitalize;
	font-size: 1.8rem;
}
.contact-form__submit:hover{
	background-color: transparent;
	color: #fff;
	transition: 0.3s all ease;
}
.visit-my-office__left-side{
	background: url('../Images/contact-img.jpg') 50% 50% no-repeat;
	background-size: cover;
}
.visit-my-office__right-side{
	background-color: #161616;
	height: 100%;
}
.visit-my-office{
	height: 100%;
}
.visit-my-office__headline{
	color: #FFF;
}
.visit-my-office__right-side_padding{
	padding: 1rem 4rem;
}
.visit-my-office__email{
	color: #e4ae58;
}
.visit-my-office__site {
	color: #e4ae58;
}
.visit-my-office__contact{
	margin-bottom: 2rem;
}
.visit-my-office__icon{
	color: #9e9e9e;
	font-size: 1.5rem;
	margin-right: 1rem;
	vertical-align: middle;
}
.main-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10rem 0;
}
.social{
	display: flex;
	margin-top: 3rem;
}
.social__item{
	margin-right: 5%;
	margin-left: 5%;
	height: 3.6rem;
	width: 3.6rem;
	border-radius: 50%;
	background-color: transparent;
	text-align: center;
	line-height: 3.6rem;
	transition: all 0.2s ease;
	
}
.social__icon{
	color: #999;
	font-size: 1.8rem;
	transition: all 0.2s ease;

}
.social__icon:hover{
	/* height: 3.6rem;
	width: 3.6rem;
	border-radius: 50%;
	background-color: #e4ae58;
	text-align: center;
	line-height: 3.6rem; */
	cursor: pointer;
	color: #e4ae58;
	transition: all 0.2s ease;
}
.footer__link{
	color: #e4ae58;
}






@media (min-width: 767px) and (max-width: 1200px) {
	
	.about-left{
		width: 100%;
	}
	.about-right{
		width: 100%;
	}
	.head__navig {
		margin: 3.5rem 0 0 1.5rem;
	}
	.navig__link {
		font-size: 1.3rem;
		margin-right: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		transition: all 0.8s ease;
	}
	.my-tech-skills {
		flex-wrap: wrap;
	}

	.my-tech-skills__item {
		width: 50%;
	}
	.my-experiences__left-side{
		width: 100%;
	}
	.my-experiences__right-side {
		width: 100%;
	}
	.my-education__left-side {
		width: 100%;
	}
	.my-education__right-side {
		width: 100%;
	}
	.my-experiences__right-side_padding{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* align-items: center; */
		/* padding-left: 3rem;
		padding-right: 3rem; */
	}
	.my-education__right-side_padding{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		/* align-items: center; */
		/* padding-left: 3rem;
		padding-right: 3rem; */
	}
	.dates{
		display: flex;
		flex-direction: column;
		/* align-items: center; */
	}
	/* .dates__item{
		display: flex;
		flex-direction: column;
		align-items: center;
	} */
	/* .dates_text{
		width: 70%;
		margin-left: 0;
		margin-bottom: 1rem;
		text-align: center;
	}
	.dates__interval{
		display: block;
	} */
	.my-education{
		flex-direction: column-reverse;
	}
	.my-education__right-side{
		height: 350px;
	}
	.my-experiences__left-side{
		height: 350px;
	}
	.quotes__wrapper {
		padding: 8rem 10rem;
	}
	.contacts__left-side{
		width: 100%;
		height: 100%;
	}

	.contacts__right-side {
		width: 100%;
	}
}
@media (min-width: 2700px) and (max-width: 4000px) {
	html {
		font-size: 25px;
	}
}
@media (min-width: 1400px) and (max-width: 1600px) {
	html {
		font-size: 12px;
	}
}
@media (min-width: 1600px) and (max-width: 2699px) {
	html{
		font-size: 15px;
	}
}
@media (min-width: 240px) and (max-width: 766px) {

	.about-left {
		width: 100%;
	}

	.about-right {
		width: 100%;
	}
	.head{
		height: auto;
	}
	.head__navig {
		display: none;
	}
	.head__left{
		width: 100%;
		float: none;
		height: 100vh;
	}
	.head__right{
		float: none;
	}
	.head__site-headline{
		position: absolute;
		top: 50%;
		transform: translate(0, -40%);
		padding: 2rem 0 2rem 0;
	}
	.site-headline__welcome {
		color: #fff;
	}
	.site-headline__text{
		color: #fff;
	}

	.site-headline__button {
		margin-top: 3.5rem;
		border-color: #fff;
		color: #fff;
	}
	.site-headline__stimulus {
		color: #E3AE57;
	}
	.site-headline__h1 {
		color: #fff;
	}
	.my-skills__left-side{
		width: 100%;
	}
	.my-skills__right-side {
		width: 100%;
	}
	.head__burger {
		display: inline-block;
	}
	.my-skills__left-side {
		position: static;
		height: 320px;
	}
	#burger__checkbox:checked ~.head__navig {
		display: block;
		position: absolute;
		top: 3rem;
		right: 2rem;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		width: 40%;
		z-index: 999;
	}
	#burger__checkbox:checked~.head__navig {
		display: block;
		position: absolute;
		top: 7rem;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		z-index: 999;
		margin: 0;
	}
	#burger__checkbox:checked~.head__navig .navig__link {
		padding: 1rem;
		margin: 0;
		transition:all 0.2s ease;
	}
	#burger__checkbox:checked~.head__navig .navig__link:hover {
		background-color: #E3AE57;
		color: #fff;
		transition:all 0.2s ease;

	}
	.my-tech-skills{
		flex-wrap: wrap;
	}
	.my-tech-skills__item{
		width: 100%;
	}
	.my-experiences__left-side {
		width: 100%;
	}

	.my-experiences__right-side {
		width: 100%;
	}

	.my-education__left-side {
		width: 100%;
	}

	.my-education__right-side {
		width: 100%;
	}

	.my-experiences__right-side_padding {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.my-education__right-side_padding {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.dates {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.dates__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.dates_text{
		width: 70%;
		margin-left: 0;
		margin-bottom: 1rem;
		text-align: center;
	}
	.dates__interval {
		display: block;
	}
	.my-education {
		flex-direction: column-reverse;
	}
	.my-education__right-side {
		height: 350px;
	}
	.my-experiences__left-side {
		height: 350px;
	}
	.quotes__wrapper {
		padding: 4rem 2rem;
	}
	.quotes__headline{
		font-size: 2.5rem;
	}
	.quotes__text {
		font-size: 1.2rem;
	}
	.contacts__left-side {
		width: 100%;
		height: 100%;
	}

	.contacts__right-side {
		width: 100%;
		height: 100%;
	}
	.visit-my-office__right-side{
		width: 100%;
	}
	.visit-my-office__left-side{
		width: 100%;
		height: 320px;
	}
	.main-footer__text{
		text-align: center;
	}
	
}

@media (min-height: 550px) and (max-height: 600px) {
	.site-headline__h1 {
		font-size: 3.8rem;
	}
	.site-headline__button {
		margin-top: 1rem;
	}
}